########################################################################
###                                                                  ###
###            ULTIBOTS LLC - K250VS-BSE-V3 Configuration            ###
###      for Milkshake Board 5XC v1.0a Instead of Azteeg X5 Mini     ###
###                                                                  ###
########################################################################

########################################################################
## COMMUNICATION AND NETWORK CONFIGURATION (COMMON)                   ##
########################################################################

# Use this Baud Rate for the Default Hardware Serial Port.
uart0.baud_rate                             115200
# Enable Second USB Serial Port.
second_usb_serial_enable                    true

# Enable the Ethernet Network Port and Services.
network.enable                              true
# Enable the Internal Webserver.
network.webserver.enable                    true
# Enable the Internal Telnet Server.
network.telnet.enable                       true
# Enable Plan9 Resource Sharing and File System.
# - Smoothieware Has to Be Compiled Using -
# - make PLAN9=1                          -
# - for this to Work.                     -
network.plan9.enable                        true
# IP Address Settings
network.hostname                            kossel
network.ip_address                          10.168.8.201
network.ip_mask                             255.255.248.0
network.ip_gateway                          10.168.8.1
